/*^Document*/

html {
    font-family: Montserrat;
    color: hsl(0, 0, 12%);
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

/*^Text modifications*/

h1 {

}

a {
    color: #FC3314;
}

a:visited {
    color: hsl(0, 0, 12%);
}

ul {
    list-style-type: none;
}

/*TOPBAR*/

.main-nav {
    display: flex;
    background-color: oldlace;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
}

    .main-nav__item {
        color: hsl(0, 0, 12%);
        text-decoration: none;
        font-weight: ;
    }

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

    .topbar--