/*^Typography*/

html {
    font-family: Montserrat;
    color: #1F1F1F;
}

/*^Text modifications*/

p {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #1F1F1F;
}

.header-title {
    font-size: 20px;
    font-weight: 400;
}

.header-subtitle {
    font-size: 48px;
    font-weight: 700;
}

.hire-anchor{
    font-size: 16px;
    font-weight: 700;
}

.portfolio-anchor{
    font-size: 16px;
    font-weight: 700;
}

.about-title{
    font-size: 36px;
    font-weight: 700;
}

.about-nums-text{
    font-size: 18px;
    font-weight: 700;
}

.about-nums-number{
    color: #FFD4D0;
    font-size: 64px;
    font-weight: 700;
}

.about-text{
}

/*Colors*/

.color-text-white{
    color: white;
}

.color-text-red{
    color: #FC3314;
}

.header {
    background-color: #FFD4D0;
}

.top-bar{
    background-color: #FFD4D0;
}